/*styles.css */

.body {
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img.jpg'); /* Replace with your dark background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #222; /* Fallback color in case image fails to load */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    /*background-color: rgba(255, 255, 255, 0.9); /* Light background with some transparency */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #86f1ff;
    position: relative;
    border-width: 2px; /* Set border width for all sides */
    border-color: #00ffee;; /* Set border color for all sides */
    border-style: inset; /* Set border style for all sides */
    padding: 10px; /* Add padding for spacing inside the border */
}


/* Add highlight effect to h1 */
h1::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 70px; /* Adjust the height of the highlight */
    background-color: #000000; /* Highlight color */
    opacity: 1; /* Adjust the opacity of the highlight */
    transform: translateY(-50%); /* Center the highlight vertically */
    z-index: -1; /* Place the highlight below the h1 text */
}

form {
    margin: 0 auto; /* Center the form horizontally */
    max-width: 600px; /* Adjust the maximum width of the form */
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

a {
    color: #007BFF;
    text-decoration: none;
}
.footer-nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px; /* Reduce the margin for tighter spacing */
    font-weight: bold;
    font-size: 18px; /* Adjust the font size as needed */
    transition: color 0.3s;
}

/* Add hover effect for links in footer-nav */
.footer-nav a:hover {
    color: #007BFF;
}
.footer-nav {
    text-align: center;
    background-color: #333;
    padding: 20px 0;
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 999;
}
.submit{
    font-size: 1.1em;
    font-family: 'Arial', sans-serif;
}
